loguru==0.7.3
safetensors==0.7.0
transformers==5.1.0
accelerate==1.12.0
gguf==0.17.1
imageio==2.37.2
imageio-ffmpeg==0.6.0
einops==0.8.2
prometheus_client==0.24.1
pydantic==2.12.5
diffusers==0.36.0
av==16.1.0
opencv-python==4.13.0.92
ftfy==6.3.1
scipy==1.17.0